<div class="container">
  <% @legals.each do |legal| %>
  <table>
    <tbody>
      <tr>
        <td><h2><%= link_to legal.title, legal %></h2></td>
      </tr>
    </tbody>
  </table>
  <% end %>
</div>
